body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    direction: rtl;
    background-image: url('https://i.postimg.cc/ZndtMGmB/1ee32392-fbdd-4780-af0a-0e155c6d638a.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header {
    background-color: rgba(76, 175, 80, 0.8);
    color
